
.voltar-icon{
   color: va(--blue);
   margin-top: 8rem;
   margin-left: 20px;
   opacity: 0.3;
   transition: 0.2s;
   display: flex;
   align-items: center;
   font-family: 'Poppins';
   font-size: 2rem;
   width: 15rem;
}
.voltar-icon a{
    display: flex;
    align-items: center;
    color: var(--blue);
}
.voltar-icon:hover{
    opacity: 0.8;
    color: var(--blue);
    margin-left: 0;
}
.voltar-icon img{
    width: 5rem;
    height: 5rem;
    margin-right: 1.5rem;
}
