
.voltar-icon{
   color: va(--gray-dark);
   margin-top: 8rem;
   opacity: 0.3;
   transition: 0.5s;
   display: flex;
   align-items: center;
   font-family: 'Poppins';
   font-size: 2rem;
   width: 15rem;
}
.voltar-icon a{
    display: flex;
    align-items: center;
    color: var(--gray-dark);
}
.voltar-icon:hover{
    opacity: 0.8;
    color: var(--gray-dark);
}
.voltar-icon img{
    width: 5rem;
    height: 5rem;
    transform: rotate(180deg);
    margin-right: 1.5rem;
}
