.content{
    max-width: min(112rem, 80%);
}
#room header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#room header .buttons{
    display: flex;  
}
#room header .buttons .button:nth-child(1){
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}
#room header .buttons .button:nth-child(1) img{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}
#room header .buttons .button:nth-child(2){
    padding: 1.3rem 3.2rem;
}
#room header .buttons .button:nth-child(2) img{
    width: 2rem;
    height: 2rem;    
}



#question-form h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    color: var(--black-blue);
    font-weight: 700;
    margin-bottom: 2.4rem;
}

#question-form form{
    border: .2rem solid var(--gray-blue);
    padding: 1.6rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
    margin-bottom: 1.6rem;

}
#question-form form textarea{
    resize: none;
    background: transparent;
    outline: none;
    width: 100%;
}
#question-form form textarea::placeholder{
    color: var(--gray-blue);
}
#question-form form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#question-form form footer > div{
    display: flex;
    align-items: center;
    color: var(--icons-dertails);
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 400;
}
#question-form form footer > div img{
    margin-right: 0.9rem;
}
#question-form form footer button{
    height: auto;
    padding: .8rem 2.4rem;
    line-height: 2.4rem;
}


/*Questions Wrapper*/

.quetion-wrapper{
    background-color: var(--light-blue);
    margin-bottom: .8rem;
    border-radius: 0 .8rem .8rem .8rem;
    padding: 2.4rem;
}
.quetion-wrapper .question-content{
    display: flex;
    align-items: flex-start;
}
.quetion-wrapper .question-content .user{
    background-color: var(--blue);
    clip-path: circle();
    padding: 1.4rem;
}

.quetion-wrapper .question-content p{
    margin-left: 1.6rem;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    min-height: 5.5rem;
}
.quetion-wrapper .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.quetion-wrapper .actions > a{
    display: flex;
    align-items: center;
}
.quetion-wrapper .actions > a > img{
    margin-right: .8rem;
}
.quetion-wrapper .actions > a + a{
    margin-left: 2.4rem;
}

/*****Question Wrapper****/
.quetion-wrapper.read{
    background-color: var(--gray-medium);
}
.quetion-wrapper.read .user{
    background-color: var(--gray-blue);
}